<header class="main-header"  data-ng-controller="HeaderCtrl">
    <!-- Logo -->
    <a href="" class="logo" style="background-color: #df002c;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <img src="Content/Images/logo-mini.png" class="logo-mini" alt="" /> <!-- logo for regular state and mobile devices -->

        <!-- logo for regular state and mobile devices -->
        <img src="Content/Images/logo-lg.png" class="logo-lg" alt="" />

    </a>
    <!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top"
		style="background-image: url(Content/Images/header_bg1.png);">
		<!-- Sidebar toggle button-->
		<a href="javascript:void(0)" class="sidebar-toggle"
			data-toggle="offcanvas" role="button"
			style="background-image: url(Content/Images/header_bg1.png);">
		</a>
		 <img src="Content/Images/ABOT_logo.png" class="logo-lg"
			style="width: 40px" alt="" />
	    <b
			style="color: white; font-size: large;vertical-align: text-top;">ABot Reports</b>
	    <span
			id="home-icon" style="margin: 10px;">
		 <a href="/"> <i
				class="fa fa-home"></i>
		</a>
		</span>
		<span id="version-number" style="margin: 10px;">Release - 4.0.0 &copy</span>
	</nav>
</header>