<div data-ng-controller="TagCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tag Overview
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th-list"></i> Home</a></li>
            <li class="active">Tag Overview</li>
        </ol>
    </section>

   <section class="content" style="height: 100%; min-height: 100%">
		<div class="row" style="height: 27em">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="pull-left">
							<h5 class="box-title pull-left">Tag Overview</h5>
						</div>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-3">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>